:root {
    --landscape-width: 70vw;
}

@media (orientation: landscape) {
    .extended-hero-section {
        width: var(--landscape-width);
    }
    .wrapper {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cool-block h2 {
        width: 100%;
        font-size: 150%;
    }

    .cool-block p {
        font-size: 120%;
    }

    .cool-block {
        width: var(--landscape-width);
        height: 15vh;
        gap: 1vw;
    }

    .cool-block > * {
        width: var(--landscape-width);
    }

    .hero-section {
        width: var(--landscape-width);
        height: 90vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .hero-text {
        width: 50%;
    }

    .hero-display {
        width: 50%;
    }

    .hero-display img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 5em;
        margin: 0;
    }

    .skills-section {
        width: 100%;
        padding-top: 5vh;
    }

    .skill {
        width: var(--landscape-width);
    }

    .skill-gallery {
        width: 100%;
    }
    .skill-item {
        width: 10%;
    }

    .skill-item img {
        width: 100%;
        height: auto;
    }

    .works-section {
        height: auto;
        width: 100vw;
        gap: 20px;
    }

    .works {
        height: auto;
        width: 100%;
        gap: 2vh;
    }

    .work {
        height: auto;
        width: var(--landscape-width);
        padding: 1.5vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        justify-items: center;
        align-content: center;
    }

    .work-img {
        height: 90%;
        padding-right: 5%;
    }

    .work-text {
        padding-top: 1%;
        width: 80%;
        height: 100%;
        padding-left: 5%;
        gap: 2vh;
        padding-right: 5%;
    }

    .work-tags {
        gap: 1.5%;
    }

    .tag {
        font-size: 70%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .project-link {
        font-size: 80%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .header {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contact-section {
        width: var(--landscape-width);
        height: 100vh;
    }

    .experience-section {
        padding-top: 7.5vh;
        width: var(--landscape-width);
        height: auto;
    }

    .experiences {
        width: 100%;
        height: auto;
    }

    .experience {
        width: var(--landscape-width);
        height: 20vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .experience-text {
        width: 50%;
    }

    .experience-img {
        width: 50%;
        gap: 1vw;
    }

    .experience-img img {
        height: auto;
        width: 33%;
    }

    .header > div {
        width: auto;
        height: 100%;
    }

    .header > div > p {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .blurry-circle {
        width: 50vh;
        height: 50vh;
        filter: blur(15vh);
    }

    .trail {
        width: 10px;
        height: 10px;
    }
}
