:root {
    --landscape-width: 70vw;
}

@media (orientation: landscape) {
    .extended-hero-section {
        width: var(--landscape-width);
    }

    .wrapper {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cool-block h2 {
        width: 100%;
        font-size: 200%;
    }

    .cool-block p {
        font-size: 100%;
    }

    .cool-block {
        width: var(--landscape-width);
        height: 15vh;
        gap: 1vw;
    }

    .cool-block>* {
        width: var(--landscape-width);
    }

    .hero-section {
        width: var(--landscape-width);
        height: 100vh;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .hero-text {
        /* width: 50%; */
    }

    .hero-display {
        width: 50%;
    }

    .hero-display img {
        width: 100%;
        height: auto;
    }

    .hero-text h1 {
        font-size: 5em;
        margin: 0;
    }


    #name {
        transition: all 0.5s ease-in-out;
        /* -webkit-text-stroke: 3px rgb(76, 0, 255); */
        -webkit-text-stroke: 0px;
        font-size: 15rem;
        text-align: center;
        font-weight: 100;
        text-shadow: 0 0 5px #009dff, 0 0 15px #6600ff, 0 0 20px #009dff, 0 0 40px #71c4ff, 0 0 60px #59d0ff, 0 0 10px #1e00ff, 0 0 98px #6f00ff;
        color: #ffffff;
        font-family: "Meta", sans-serif;

        cursor: pointer;
        z-index: 0;
        font-size: 10em;
    }

    #name:hover {
        -webkit-text-stroke: 2px rgb(255, 255, 255);
        text-shadow: 0 0 5px #009dff, 0 0 15px #6600ff, 0 0 20px #009dff;
        color: #67aeff;
    }

    .skills-section {
        width: 100%;
        padding-top: 5vh;
    }

    .skill {
        width: var(--landscape-width);
    }

    .skill-gallery {
        width: 100%;
    }

    .skill-item {
        width: 10%;
    }

    .skill-item img {
        width: 100%;
        height: auto;
    }

    .works-section {
        padding-top: 5vh;
        height: auto;
        width: var(--landscape-width);
        gap: 20px;
        transition: 0.5s ease-in-out;
    }

    .works-section>h2 {
        font-size: 2.5em;
    }


    .more-btn {
        z-index: 1;
    }

    .works {
        max-height: 75vh;
        overflow: hidden;
        width: 100%;
        gap: 1vh;
        position: relative;
        transition: 2s ease;
    }

    .show-more {
        max-height: 200vh;
    }

    .works.show-more::before {
        height: 200%;
        transition: height 3s ease;
    }

    .works::before {
        --gradient-length: 50%;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #00010e 0%, #ffffff00 var(--gradient-length));
        z-index: 1;
        transition: height 2s ease;
        pointer-events: none;
    }

    .work {
        height: auto;
        width: var(--landscape-width);
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .work-img {
        height: 90%;
        padding-top: 1vh;
        padding-right: 5%;
    }

    .work:not(:last-child)::after {
        bottom: -.5vh;
    }

    .work-text {
        padding-top: 1%;
        width: 80%;
        height: 100%;
        padding-left: 5%;
        gap: 2vh;
        padding-right: 5%;
    }

    .work-tags {
        gap: 1.5%;
    }

    .tag {
        font-size: 70%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .project-link {
        font-size: 80%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .header {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contact-section {
        width: var(--landscape-width);
        height: 100vh;
    }

    .experience-section {
        padding-top: 7.5vh;
        width: var(--landscape-width);
        height: auto;
    }

    .experience-section>h2 {
        font-size: 2.5em;
    }

    .experiences {
        width: 100%;
        height: auto;
        gap: 1vh;
    }

    .experience {
        width: var(--landscape-width);
        height: 20vh;
        text-shadow: 0px 0px 10px rgb(47, 0, 255);
    }

    .experience::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.671);
        z-index: -1;
    }

    #waterloo-exp {
        background-image: url("images/waterloo.jpg");
        background-size: cover;
        background-position: center;
        z-index: -2;
    }

    #sac-exp {
        background-image: url("images/sac.jpg");
        background-size: cover;
        background-position: center;
        z-index: -2;
    }

    #pdi-exp {
        background-image: url("images/pdi.webp");
        background-size: cover;
        background-position: center;
        z-index: -2;
    }



    .experience-text {
        width: 50%;
    }

    .experience-img {
        width: 50%;
        gap: 1vw;
    }

    .experience-img img {
        height: auto;
        width: 33%;
    }

    .header>div {
        width: auto;
        height: 100%;
    }

    .header>div>p {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .blurry-circle {
        width: 50vh;
        height: 50vh;
        filter: blur(15vh);
    }

    .trail {
        width: 10px;
        height: 10px;
    }

    .menu {
        height: 100vh;
        width: 30vw;
    }

    .menu p {
        font-size: 2em;
    }

    .menu-wrapper {
        width: 95%;
        height: 95%;
        padding: 1% 2.5% 4% 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .menu-wrapper>div {
        padding-left: 1vw;
        width: 95%;
    }

    .comm {
        padding: 1vh;
    }
}