:root {
    --general-width: 85vw;
}

@media (orientation: portrait) {
    body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 4vh;
    }

    p {
        font-size: 3vh;
    }
    .extended-hero-section {
        width: var(--general-width);
    }
    .wrapper {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .hero-section {
        width: var(--general-width);
        height: 90vh;
        flex-direction: column;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 15vh;
        margin: 0;
    }

    .hero-text h2 {
        font-size: 4vh;
    }

    .works-section {
        height: auto;
        width: 100vw;
        gap: 20px;
    }

    .works {
        height: auto;
        width: 100%;
        gap: 3vh;
    }

    .work {
        height: auto;
        width: var(--general-width);
        margin: 2vh 0 2vh, 0;
        padding-top: 5%;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        justify-items: center;
        align-content: center;
    }

    .work-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .work-img {
        height: 100%;
    }

    .work-text {
        padding-top: 1%;
        width: 95%;
        height: 100%;
        padding-left: 2.5%;
        gap: 2vh;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .work h3 {
        text-align: center;
    }

    .work-tags {
        gap: 1.5%;
        width: 100%;
        justify-content: center;
    }

    .tag {
        font-size: 2vh;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .project-link {
        font-size: 80%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .header {
        width: 90vh;
        height: 7.5vh;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-section {
        width: 100vw;
        height: 100vh;
    }

    .experience-section {
        width: var(--general-width);
        height: auto;
    }

    .experiences {
        width: 100%;
        height: auto;
    }

    .experience {
        width: var(--general-width);
    }

    .header > div {
        width: auto;
        height: 100%;
    }

    .header > div > p {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .blurry-circle {
        width: 50vh;
        height: 50vh;
        filter: blur(15vh);
    }

    .trail {
        width: 10px;
        height: 10px;
    }
}
