:root {
    --portrait-width: 85vw;
}

@media (orientation: portrait) {
    body {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 4vh;
    }

    p {
        font-size: 3vh;
    }

    .extended-hero-section {
        width: var(--portrait-width);
    }

    .wrapper {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .hero-section {
        width: var(--portrait-width);
        height: 100vh;
        flex-direction: column;
    }

    .hero-section img {
        display: none;
    }

    .hero-text {
        width: 100%;
        height: 100%;
    }

    .hero-text h1 {
        font-size: 5vh;
        margin: 0;
    }

    #name {
        transition: all 0.5s ease-in-out;
        -webkit-text-stroke: 3px rgb(76, 0, 255);
        font-size: 15rem;
        text-align: center;
        color: transparent;
        font-family: "Meta", sans-serif;
        text-shadow: 1vw 1vw 0px #7307cc82,
            1.5vw 1.5vw 0px #018ae6,
            2vw 2vw 0px #01bfe9,
            2.5vw 2.5vw 0px #002c6a;
        cursor: pointer;
        z-index: 1;
        font-size: 25vw;
    }

    #name:hover {
        -webkit-text-stroke: 2px rgb(112, 210, 255);
        text-shadow: none;
        color: #2b01e9;
    }



    .hero-text h2 {
        font-size: 3vh;
    }

    .skill {
        width: var(--portrait-width);
    }

    .skills-gallery {
        flex-wrap: wrap;
    }

    .skills-section {
        width: 100%;
    }

    .skill-item {
        min-width: 30%;
        width: 30%;
    }

    .skill-item img {
        width: 80%;
    }

    .works-section {
        height: auto;
        width: 100vw;
        gap: 20px;
    }

    .works {
        height: auto;
        width: 100%;
        gap: 3vh;
    }

    .work {
        height: auto;
        width: var(--portrait-width);
        margin: 2vh 0 2vh, 0;
        padding-top: 5%;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        justify-items: center;
        align-content: center;
    }

    .work h3 {
        font-size: 4vh;
    }

    .work p {
        font-size: 1.8vh;
    }

    .work-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .work-img {
        height: 100%;
    }

    .work-text {
        padding-top: 1%;
        width: 95%;
        height: 100%;
        padding-left: 2.5%;
        gap: 2vh;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .work h3 {
        text-align: center;
    }

    .work-tags {
        gap: 1.5%;
        width: 100%;
        justify-content: center;
    }

    .tag {
        font-size: 2vh;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .project-link {
        font-size: 80%;
        padding: 1%;
        font-weight: 700;
        border-radius: 5px;
    }

    .header {
        width: 80vw;
        height: 7.5vh;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header>div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-section {
        width: 100vw;
        height: 100vh;
    }

    .experience-section {
        width: var(--portrait-width);
        height: auto;
    }

    .experience-section img {
        display: none;
    }

    .experience-section h2 {
        font-size: 2.5vh;
    }

    .experience-section h3 {
        font-size: 2.3vh;
    }

    .experience-section p {
        font-size: 2vh;
    }

    .experiences {
        width: 100%;
        height: auto;
    }

    .experience {
        width: var(--portrait-width);
    }

    .experience-img {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        height: 100%;
        justify-content: space-evenly;
    }

    .experience-img img {
        height: auto;
        object-fit: contain;
    }

    .header>div {
        width: auto;
        height: 100%;
    }

    .header>div>p {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .blurry-circle {
        width: 50vh;
        height: 50vh;
        filter: blur(15vh);
    }

    .trail {
        width: 10px;
        height: 10px;
    }

    .menu {
        height: 100vh;
        width: 50vw;
    }

    .menu p {
        font-size: 1.5em;
    }

    .menu-wrapper {
        width: 95%;
        height: 95%;
        padding: 1% 2.5% 4% 2.5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .menu-wrapper>div {
        padding-left: 1vw;
        width: 95%;
    }
}