#evisPanel{
    width:90%;
    height:90%;
    left:100%;
    background-image: url(gridpaper.png);
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
}

#evisPanel #bg{
    position: absolute;
    display: inline;
    width:100%;
    height:100%;
    object-position: center center;
    object-fit: cover;
}

#evisContent{
    height:80%;
    width:100%;
    display:flex;
    flex-direction: var("--evisDirection");
    justify-content: center;
    align-items:center;
}

#evisImages{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    gap:5px;
}

#evisImages img{
    object-fit:contain;
    width:35%;
}

#postit{
    width:50%;
    background-image: url(postit.png);
    background-size:inherit;
    background-position: center center;
    background-repeat: no-repeat;
    display:flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    filter:drop-shadow(10px 20px 10px #000000);
}

#postit p{
    text-align:center;
    font-size: min(3vw, 3vh);
    margin: max(5vw, 3vh);
}

#evisBack{
    z-index:99;
}

#evisTitle{
    color: black;
}

#evisCanvas{
    position:absolute;
    width:100%;
    height:80%;
    background-color:rgba(255,0,0,0.5);
}

