@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=MonteCarlo&family=Oswald:wght@300&family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden;
}


body {
    font-family: sans-serif;
    background-color: #151233;
}


.shapes{
  position: absolute;
  left: -5%;
}

body #square {
  background-color: #555;
}

body #triangle {
  border-bottom: 86px solid rgb(66, 66, 66);
  /* 104 = 120 * 0.866 */
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.name {
    height: 100vh;
    text-align: center;
    padding-top: 32vh;
}



.name #typewriter{
  color: #d3d3d3;
  position:relative;
  font-size: 6.4em;
  
}

.name #actual{
  position:relative;
  font-size: 7em;
}




.navMenu {
  position: absolute;
  top: 4%;
  left: 48.6%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: auto;
    margin-right: auto;
}

.navMenu a {
    font-family: 'Lemon/Milk light Regular';
    color: #d7e4ff;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 100;
    display: inline;
    margin: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.navMenu a:hover {
    background-image: linear-gradient(141deg, #70adff, #fa50ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #a694ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(222px);
  transform: translateX(222px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(87px);
  transform: translateX(87px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(222px);
  transform: translateX(222px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(337px);
  transform: translateX(337px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


h1 {
  /*  leverage cascade for cross-browser gradients  */
  /*background: radial-gradient(
    hsl(298, 100%, 66%),
    hsl(214, 100%, 72%)
  ) fixed;*/
  /*background: conic-gradient(
    from -10deg,
    hsl(214, 100%, 72%), 
    hsl(298, 100%, 66%), 
    hsl(298, 100%, 66%) 
  ) fixed;*/
  background: repeating-linear-gradient(to bottom right,hsl(214, 100%, 72%), hsl(214, 100%, 72%), hsl(298, 100%, 66%), hsl(298, 100%, 66%)) fixed;
  background-blend-mode: difference;
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
} 

#empty {
  height: 100vh;
}

