body{
    /*background-color:rgb(151, 214, 255);*/
    /*background: linear-gradient(90deg, rgba(255,74,255,1) 0%, rgba(218,176,255,1) 50%, rgba(70,224,255,1) 100%);*/
    /*background: #080919;*/
    background:linear-gradient(90deg, rgba(56,12,91,1) 0%, rgba(15,59,110,1) 100%);
    margin:0;
    overflow-x:hidden;
}

.tiles{
    transform-style: preserve-3d;
    background-color:#000b4b;
    width:4vh;
    height:4vh;
    border-radius: 0vh;
}




#screen{
    width:100%;
    display:grid;
    position:absolute;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    grid-gap: 2px 2px;
}

#screenContainer{
    position: absolute;
    top:0%;
    left:0;
    height:100%;
    width:100%;
    z-index:1;
}

#content{
    width:100%;
    position:relative;
    z-index: 100;
    display: flex;
    flex-direction:column;
    justify-items: center;
    align-items:center;
    margin:0 auto;
    padding:0;
    border: 0;
}

#content .title{
    height:20vh;
}

#content p{
    color: white;
}

.spacer{
    max-width:100%;
    align-self: stretch;
}

.panelcontainer{
    display:flex;
    width:100%;
    height:80vh;
    justify-items: center;
    align-items:center;
    justify-content: center;
}

.panel{
    position:relative;
    height:45vh;
    display:flex;
    flex-direction: row;
    justify-items: center;
    align-items:center;
    justify-content: center;
}


.panel .iconcontainer{
    height:45vh;
    background: rgba(4, 1, 35, 0.75);
    display:flex;
    justify-items: center;
    align-items:center;
    border: 1px solid rgba(255,255,255,1);
    /*border-radius: 10px;*/
}

.panel .icon{
    height:100%;
}

.panel .textpanel{
    width:70vh;
    min-height:100%;
    background: rgb(12, 0, 140);
}

.active{
    width:50%;

}
