* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgColor{
    background-color: #151233;
}

body {
    font-family: sans-serif;
    background-color: #151233;
}

.intro {
    height: 100vh;
    background-color: #151233;
}

.intro video{
    height:100%;
    width:100%;
    object-fit: cover;
}

.about {
    height: 100vh;
    color: black;
    
}

.about h1{
    padding-top: 300px;
    text-align: center;
    font-size: 50px;
}

.about img{
    position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}





.navMenu {
  position: absolute;
  top: 4%;
  left: 48.6%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: auto;
    margin-right: auto;
}

.navMenu a {
    font-family: 'Lemon/Milk light Regular';
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 100;
    display: inline;
    margin: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.navMenu a:hover {
    background-image: linear-gradient(141deg, #70adff, #fa50ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #a694ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(222px);
  transform: translateX(222px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(87px);
  transform: translateX(87px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(222px);
  transform: translateX(222px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(337px);
  transform: translateX(337px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}




