* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bgColor{
    background-color: #151233;
}

body {
    font-family: sans-serif;
    background-color: #151233;
}

.intro {
    height: 100vh;
    background-color: #151233;
}

.intro video{
    height:100%;
    width:100%;
    object-fit: cover;
}

.about {
    height: 100vh;
    color: black;
    
}

.about h1{
    padding-top: 300px;
    text-align: center;
    font-size: 50px;
}

.about img{
    position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


