body{
    margin: 0;
    overflow-x: hidden;
}
@media only screen and (orientation: landscape) {

    .centered-wrapper{
        height:100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: baseline; /* Optional, to center items horizontally */
        justify-content: center; /* Optional, to center items vertically */
    }


    .main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center; /* Optional, to center items horizontally */
        justify-content: center; /* Optional, to center items vertically */
        gap: 0px;
    
    }

    .main h1{
        font-size: 30vh;
        margin: 0;
        padding:0;
        
    }

    .category-selector {
        display: flex;
        flex-direction: row;
        align-items: center; /* Optional, to align items vertically */
        justify-content: center; /* Optional, to center items horizontally */
        gap: 10px;
    }


}

.main{
    height:100vh;
    background-color:blueviolet;
}

#aboutme{
    height: 50vh;
    background-color:blue;
}

#projects{
    height: 100vh;
    background-color:rebeccapurple;
}

#experience{
    height:100vh;
    background-color:darkslategrey;
}