/* @font-face {
    font-family: lemonmilk;
    src: url(fonts/LEMONMILK-Medium.otf);
}

@font-face {
    font-family: lemonmilklight;
    src: url(fonts/LEMONMILK-Light.otf);
}
 */

body, html{
    padding:0;
    margin:0;
    overflow: hidden;
    user-select: none;
    background-color: #100f18;
}


.desktop{
    min-height:100vh;
    height: 100vh;
    padding:0;
    margin:0;
}

.green{
    color:#21c953;
}

.square{
    background-color: red;
    height:10%;
    width: 10%;
}




.name{
    min-height:25%;
    height:25vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.name p{
    background: -webkit-linear-gradient(rgb(0, 110, 255), rgb(160, 27, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 9vw;
    font-family: lemonmilk;
    white-space: nowrap;
}





.main{
    display:flex;
    flex-direction:column;
    min-height:68vh;
    height:68vh;
}

.flex-container-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    align-content: center;
    height:85%;
}

.captionImg{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainButtons{
    min-height: 75%;
    height: 75%;
    width: 20%;
}


.main .captionImg .button{
    height: 90%;
    width: 90%;
    margin-left:1vh;
    margin-right:1vh;
}

.main .captionImg p{
    color:rgb(128, 143, 255);
    font-size: 3vw;
    font-family: lemonmilklight;
    margin:0;
    padding:0;
    white-space: nowrap;
}




.taskbar{
    position: absolute;
    display:flex;
    justify-content: left;
    flex-wrap:wrap;
    align-items: center;
    min-height:7%;
    height:7vh;
    width:100%;
    background-color:rgba(25, 0, 64, 0.783);
    z-index: 99;
}

.taskbar .button{
    max-width: 5vh;
}




#aboutMe{
    position:absolute;
    background-color: blue;
    min-height:80vh;
    min-width:900px;
    /*80vw*/
    font-size: 2vw;
    font-family:"Consolas";

    width: 80%;
    height: 80%;
    margin:0;
}



.windowTop{
    display:flex;
    justify-content:space-between;
    color:rgb(173, 173, 173);
    align-items:center;

}

.aboutMeTop{
    background-color: #302e40; 
}


.projectsTop{
    background-color:rgb(73, 0, 125);
}

.windowTopItem{
    margin-left: 0.3%;
    margin-right: 0.3%;
}

.hover:hover{
    background-color:rgba(226, 223, 255, 0.196);
}

.highlighted{
    background-color:rgba(226, 223, 255, 0.196);
}

.windowTop img{
    width: 4vh;
    height:4vh;
}


.windowTop p{
    font-size: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.flexGrow{
    flex-grow:10;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.windowBody{
    margin:0;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    color:rgb(173, 173, 173);
    height:100%;
}

.aboutMeBody{
    background-color:#28263b;
}

.verticalIconPanel{
    margin:0;
    display:flex;
    flex-direction: column;
    width: 4%;
    height: 100%;
}

.aboutMeIconPanel{
    background-color:rgb(57, 54, 77);
}

.mainBody{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;
}

.mainBody p{
    margin:0;
}

#aboutMeText{
    height:100%;
    background-color:#100f2a;
    font-size:80%;
}



#aboutMeTextScroll::after{
    font-weight: bold;
    content: "|";
    animation: blinker 1s linear infinite;
}


.iconTextPair{
    margin:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}


.verticalTextPanel .iconTextPair img{
    min-width:20%;
    width:20%;
    margin:0;
}

.horizontalTextPanel .iconTextPair img{
    min-height:100%;
    height:100%;

    margin:0;
}

.horizontalTextPanel .iconTextPair p{
    margin-right:10%;
}

.horizontalTextPanel .iconTextPair{
    height:100%;
    width:10%;
    background-color: #212129;
}

#scriptTag{
    background-color: #100f2a;
}


.verticalTextPanel{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
    height: 100%;
}

.aboutMeTextPanel{
    min-width:10%;
    width: 10%;
    font-size:40%;
}


.horizontalTextPanel{
    margin:0;
    display:flex;
    flex-direction: row;
    align-items: center;
    min-height:5%;
    
}

.fileTabs{
    width: 100%;
    font-size:40%;
    height: 5%;
    gap:0.3%;
}


.aboutMeTextPanel{
    background-color:#1e1c30;
    
    font-family:"Consolas";
}

.aboutMeTextPanel p{
    margin:5%;

}

.aboutMeTextPanel p1{
    margin:5%;
    font-weight: bold;
    font-size:100%;
}

.aboutMeTextPanel img{
    margin-left:5%;

}

#projects{
    position:absolute;
    display:flex;
    flex-direction:column;
    background-color:rgb(46, 42, 90);
    min-height:80vh;
    min-width:80vh;
    width: 90%;
    height: 80%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.projectsTop{
    font-size:3rem;
}

.projectsTextPanel{
    background-color:rgb(4, 0, 29);
    width:8%;
    min-width:150px;
    color:#7970c0;
}

.projectsTextPanel .iconTextPair{
    margin:0;
    margin-left:13%;
    height:auto;
}

.projectsTextPanel .desktopFile{
    margin-left:6%;
}

.projectsTextPanel .iconTextPair img{
    margin:3%;
}


.projectsAddressBar{
    height:6%;
    display:flex;
    align-content: center;
    align-items: center;
    background-color:#100a4e;
    gap:3px;
    
    color:#7970c0;
}

.projectsAddressBar img{
    height:100%;
}

.fileAddress{
    display:flex;
    align-content: center;
    align-items: center;
    border-style: solid;
    height:70%;    
    border-width: 2px;
    flex-grow: 10;
}

.searchBar{
    display:flex;
    align-content: center;
    align-items: center;
    border-style: solid;
    height:70%;    
    border-width: 2px;
    width:20%;
    margin-right:3px;
    gap:3%;
}

.fileAddress p{
    margin:0%;
    margin-left:1%;
}


.fileDisplay{
    background-color:rgb(8, 0, 62);
    height:100%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow: 2;
    min-width:65%;
    width:65%;
    align-content:flex-start;
}

.project{
    display:flex;
    flex-direction:column;
    align-items: center;
    align-content:center;

    width:18%;
    height:27%;
    margin:1%;
}

.project img{
    width:60%;
    margin:0;
    margin-top:5%;
}
.project p{
    margin:0;
}

.projectDisplay{
    height:100%;
    background-color:rgb(30, 25, 81);
    display: flex;
    flex-direction:column;
    align-items:center;
    
    color:#7970c0;
}

#projectTitle{
    font-size:300%;
    margin:0;
    
}

.projectDisplay img{
    width:40%;
    margin:0;
}

#projectDescription{
    color:#9f9ac6;
    font-size:140%;
    margin-left: 5%;
    margin-right:5%;
    text-align: center;
}




#experience{
    position:absolute;
    min-height:80vh;
    min-width:80vh;
    width: 80%;
    height: 80%;
    display:flex;
    flex-direction:column;
}

.experienceTop{
    background-color:#454356;
}

.experienceTop p{
    font-size:100%;
}

.horizontalIconPanel{
    margin:0;
    display:flex;
    flex-direction: row;
    
}

.experienceIconPanel{
    min-width:2.5%;
    width:2.5%;
    height:100%;
    background-color:rgb(44, 40, 57);
}

.experienceSubHorizontalPanel{
    width: 100%;
    height: 6%;
    background-color: #231e2c;
}

.experienceCanvas{
    background-color: rgb(15, 13, 17);
    flex-grow:2;
    
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.experienceCanvas canvas{
    background-color:white;
}

.experienceRightPanel{
    display:flex;
    flex-direction:column;
    width:30%;
    height:100%;
    background-color: rgb(54, 45, 63);
    gap:0.5%;
}

.colorPanel{
    background-color:#231e2c;
    display:flex;
    flex-direction:column;
    height:50%;
    gap:1%;
}

.colors{
    display:flex;
    flex-direction:row;
    height:100%;
    width:100%;
    gap:3%;
    background-color: rgb(44, 39, 56);
}

#colorSquare{
    width:60%;
    height:75%;
}

#colorSample{
    height:10%;
    margin-left:5%;
}

#colorWheel{
    height:80%;
}



.layersPanel{
    background-color:#231e2c;
    display:flex;
    flex-direction:column;
    height:50%;
    gap:1%;
}

.layerTab{
    height:10%;
    width:20%;
    background-color:rgb(44, 39, 56);
    display:flex;
    align-items: center;
    justify-content: center;
}

.layer{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:#100f18;
    height:15%;
    gap:5%;
}

.layer img{
    height:70%;
}




