body {
    width: 100vw;
    background-color: #0d0e1b;
    color: white;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    color: white;
}

h2 {
    color: rgb(216, 211, 230);
}

h3 {
    color: rgb(172, 163, 199);
}

p {
    color: rgb(154, 144, 182);
}

.header {
    position: sticky;
    background-color: #1a1a1a67;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    z-index: 2;
}

#header-home:hover,
#header-works:hover,
#header-contact:hover,
#header-exp:hover {
    background-color: #2d2a3567;
    transition: background-color 0.3s ease;
}

#header-home,
#header-works,
#header-contact,
#header-exp {
    border-radius: 5px;
    margin: 0 1% 0 1%;
}

@media (orientation: landscape) {
    .header > div {
        width: auto;
        height: 100%;
    }

    .header > div > p {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    .header {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (orientation: portrait) {
    .header {
        width: 90vh;
        height: 7.5vh;
        padding-left: 5%;
        padding-right: 5%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .header > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header > div {
        width: auto;
        height: 100%;
    }

    .header > div > p {
        margin-left: 1vw;
        margin-right: 1vw;
    }
}
